.uppercase {
  text-transform: uppercase;
}
body {
  background-color: #7dc2c0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 160px;
}
nav {
  display: flex;
  flex-direction: row;
}
ul {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  padding: 0 20px;
}

li {
  list-style-type: none;
  padding: 0 10px;
  font-size: 12px;
}

li a {
  color: #566175;
}

li a:hover {
  color: #e9753d;
}

li a:active {
  color: #934425;
}

button {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

#orange {
  border: 2px solid #e9753d;
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
  color: #e9753d;
}

#orange:hover {
  background-color: #e9753d;
  color: white;
}

#orange:active {
  background-color: #934425;
  border: 2px solid #934425;
}

main {
  background-color: white;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 600;
  color: #484c60;
}

h2 {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin: 4px;
  color: #566175;
}

h2 a {
  color: #e9753d;
}

h2 a:hover {
  color: #934425;
}

h2 a:active {
  color: #566175;
}

#section2 {
  display: flex;
  flex-direction: column;
}

#section2 a {
  font-size: 10px;
  text-align: right;
  color: #566175;
}
form {
  width: 100%;
  margin-top: 25px;
}

input {
  padding: 5px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #bac1cc;
}

#remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#remember-me label {
  font-size: 10px;
  color: #566175;
  padding-left: 8px;
}

#remember-me input[type="checkbox"] {
  border-radius: 50%;
}

#section3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#section3 button {
  padding: 15px;
  margin: 5px;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 12px;
}

#dark-blue {
  background-color: #484c60;
}

#dark-blue:hover {
  background-color: #262a3b;
}

#light-blue {
  background-color: #4787c1;
}

#light-blue:hover {
  background-color: #2a5985;
}

#green {
  background-color: #36a94d;
}

#green:hover {
  background-color: #218034;
}
